<%- include('../layout/header.ejs') %>

        <head>
            <link rel="stylesheet" href="\stylesheets\signIn.css">
        </head>
        <!--================Login Box Area =================-->
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <form class="p-t-15" method="post" id="form" onsubmit="return checkemail()" action="">
                    <div class="alert alert-success m-5" role="alert" style="display: none;" id="AlertMessage">

                    </div>
                    <h4>Enter Your Email</h4>

                    <input type="email" id="email" class="fadeIn second" name="email" placeholder="Enter Email">
                    <input type="submit" class="fadeIn fourth" value="Submit">
                    <div id="formFooter">
                        <a class="underlineHover" href="/login">Already have Account</a>
                    </div>
                </form>
            </div>
        </div>
        <script>
            const form = document.getElementById('form');
            form.addEventListener('submit', (event) => {
                event.preventDefault();
                let email = document.getElementById("email").value
                $.ajax({
                    url: "/userCheck",
                    method: 'POST',
                    data: { email: email },
                    encoded: true,
                    success: function (response) {
                        console.log(response)
                        if (response.userdata) {
                            console.log("ok")
                            document.getElementById("AlertMessage").style.display = ""
                            document.getElementById("AlertMessage").innerHTML = response.userdata
                        } else {
                            form.submit()
                        }
                    }
                });
            })


        </script>
        <style>
            input {
                background-color: #f6f6f6;
                border: none;
                color: #0d0d0d;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 5px;
                width: 85%;
                border: 2px solid #f6f6f6;
            }

            input:focus {
                background-color: #fff;
                border-bottom: 2px solid #5fbae9;
            }
        </style>
        <%- include('../layout/footer.ejs') %>